{% extends "layout.html" %}
{% block content %}


<div class="bg-4">
   
       <div class="text">
                <h1  style="text-align: center;">Hola {{user}}!</h1>
        <p style="text-align: center;">Welcome to this webapp <br>A stop for all your <strong>reads!!!</strong> </p>
                </div>
      
</div>

<div class="cat-news">
        <div class="container">
                News <br>
              
                <div class="gallery">
                        {% for i in list_images %}

                        <div class="gallery-item">
                                <img class="gallery-image" src="{{i[0]}}"/>
                                
                        </div>
                        {% endfor %}
        
</div>
</div>

{% endblock %}